# Fichiers de configuration de l'environnement
.env
.env.local
.env.*.local

# Dossiers et fichiers du vendeur (dépendances PHP)
/vendor/

# Dossiers générés par Node/npm
/node_modules/
npm-debug.log
yarn-error.log

# Fichiers et dossiers générés par Composer
/composer.phar
/vendor/
composer.lock

# Fichiers et dossiers de cache et de sessions
/bootstrap/cache/
/storage/*.key
/storage/framework/
/storage/logs/

# Fichiers de cache et d'options de divers IDE
.idea/
.vscode/
*.swp
*.swo

# Dossiers et fichiers spécifiques à Docker
/docker/nginx/nginx.conf
/docker/php/Dockerfile
/docker-compose.yml

# Autres fichiers spécifiques
/public/storage
/public/hot
/public/build
/homestead.json
/Homestead.yaml
/.vagrant